<footer class="footer-block text-center">
  <div class="container-fluid">
    &copy; All rights reserved. Survey website team
    <div class="social-media">
      <ul>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></i></a></li>
        <li><a href="#" target="_blank"> <i class="fab fa-github"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

<!-- Page Scripts Section  -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/scripts/app.js"></script>
</body>

</html>