<nav class="main-navigation navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand logo" href="/home"> Team <span>11</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">   
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link <%= slug === 'home' && 'active' %>" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= slug === 'surveys' && 'active' %>" href="/survey-list">Survey Lists</a>
      </li>
      <% if(typeof displayName == 'string' && displayName) { %>        
        <li class="nav-item login">
          <a class="nav-link <%= slug === 'login' && 'active' %>" href="/logout"> <i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item login">
          <a class="nav-link <%= slug === 'login' && 'active' %>" href="/login"> <i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>