
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead sub-heading">Free survey creator</p>
    <div class="row">
      <div class="col-sm-12">       
        <p>Welcome to Team 11 <p>
        <p>This website helps you to create your own survey and participate on other surveys.You are just a few clicks away from creating your own survey. Let's start!</p>

  
        <hr class="my-4">
        <p class="lead">
          You can participate in the survey using the button below.
        </p>
        <a class="btn btn-primary btn-lg" href="/survey-list/add/" role="button" >Participate in Survey</a>
      </div>
    </div>    
  </div>
</main>

<%- include partials/footer.ejs %>