
<%- include partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead sub-heading">Student Survey</p>
    <div class="row">
      <div class="col-sm-12">       
        <p>Midst fish spirit days <em>all</em> thing, beginning whales for thing blessed. Open isn&#39;t darkness wherein beginning Heaven to. Years, life gathering that beginning, thing.</p>

        <p>Thing i, <em>herb</em> fly Gathered subdue may open won&#39;t forth deep bearing they&#39;re upon <em>that</em> seasons isn&#39;t said moving land second made multiply were subdue may us.</p>

    

        <hr class="my-4">
        <p class="lead">
          You can participate in the survey using the button below.
        </p>
        <a class="btn btn-primary btn-lg" href="/survey-list/add/" role="button" >Participate in Survey</a>
      </div>
    </div>    
  </div>
</main>

<%- include partials/footer.ejs %>