<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Add your details for survey!</p>

    <br class="my-4">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <fieldset class="form-group">
          <label for="inputFirstName">Survey Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Survey Name" name="name"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAddress">Survey Type</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter survey type" name="type"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAge">Survey ID</label>
          <input type="number" class="form-control" id="inputAge" placeholder="Enter survey ID" name="id"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputHeight">Release date</label>
          <input type="date" class="form-control" id="inputHeight" placeholder="Enter release date" name="releaseDate"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputWeight">Expiry Date</label>
          <input type="date" class="form-control" id="inputWeight" placeholder="Enter expiry date" name="expiryDate"
            value="" required>
        </fieldset>
        <fieldset class="form-buttons">
          <button class="btn btn-primary" type="submit"> <i class="fas fa-plus-circle "></i> Submit</button>
          <a href="/survey-list" class="btn btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>
    
  </div>

</main>

<%- include ../partials/footer.ejs %>