<%- include ../partials/header.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <p class="lead">Add your details for survey!</p>

    <br class="my-2">

    <div class="survey-creation row">
      <form class="col-sm-8" action="" method="post">
        <h4>Survey Information</h4>
        <fieldset class="form-group">
          <label for="inputFirstName">Survey Name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="Enter Survey Name" name="name"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputAddress">Survey Type</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter survey type" name="type"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputHeight">Release date</label>
          <input type="date" class="form-control" id="inputHeight" placeholder="Enter release date" name="releaseDate"
            value="" required>
        </fieldset>
        <fieldset class="form-group">
          <label for="inputWeight">Expiry Date</label>
          <input type="date" class="form-control" id="inputWeight" placeholder="Enter expiry date" name="expiryDate"
            value="" required>
        </fieldset>
        <div class="questions">
          <h4>Survey Questions</h4>
          <div id="question1" class="question">
            <fieldset class="form-group">
              <label id="inputQuestion" for="inputQuestion">Question 1</label>
              <input type="text" class="form-control" id="inputQuestion" placeholder="Enter survey question 1"
                name="q1" value="" required>
            </fieldset>
            <fieldset class="form-group choices">
              <div id="inputChoice1" class="choice">
                <input type="text" class="form-control" id="inputChoice" placeholder="Enter your choice" name="c1"
                  value="" required>
              </div>
              <button class="btn btn-sm btn-primary" type="button" id="add-choice"> <i class="fas fa-plus "></i> Add
                Choice</button>

            </fieldset>
          </div>
        </div>
        <button class="btn btn-md btn-success" type="button" id="add-question"> <i class="fas fa-plus "></i> Add
          Question</button>
        <fieldset class="form-buttons">
          <button class="btn btn-lg btn-primary" type="submit"> <i class="fas fa-plus-circle "></i> Submit</button>
          <a href="/survey-list" class="btn btn-lg btn-warning"> <i class="fas fa-undo" role="button"></i> Cancel</a>
        </fieldset>
      </form>
    </div>

  </div>

</main>

<%- include ../partials/footer.ejs %>